body{
  width: 95%;
  height: 95%;
  display: flex;
}
#all-app{
  background-color: antiquewhite;
  margin: 30px auto;
  border: 1px solid;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 30px;
  width: 60%;
}

header{
  display: flex;
  justify-content: space-between;
}

main{
  display: flex;
  flex-direction: column;
}

footer{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

#analizing, #result p {
  margin-bottom: 0px;
}